body {
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/* ヘッダーの設定 */
header {
    /* background: rgb(89, 136, 154); */
    background: #031b3b;
    position: fixed;
    width: 100%;
}

div.container-header {
    height: 90px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.site-logo img {
    width: 300px;
    height: 90px;
}

.menu {
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
}

.menu:hover {
    color: yellow;
}

.gnav-list {
    margin: 32px;
    padding: 0;
}

.gnav-list>li {
    display: inline-block;
}

.gnav-item {
    list-style: none;
    font-weight: bold;
}

/* メインコンテンツの設定 */

main {
    color: #000;
    background: #CBEDF2;
    padding-bottom: 16px;
}

h2 {
    font-size: 32px;
    margin: 8px auto;
    border-bottom: 10px solid yellow;
}

h3 {
    margin: 0 auto;
}

.job-title {
    width: 216px;
    margin-left: 120px;
    padding-bottom: 8px;
    border-bottom: solid 2px blue;
    font-size: 20px;
    text-shadow: 1px 1px 2px cyan;
}

.notes {
    margin: 0 auto;
}

.container-main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 32px;
}

.first-view-pc img {
    display: block;
    width: 100%;
}

.first-view-mobile img {
    display: none;
}

/*==================================================
WORKS ギャラリーのためのcss
===================================*/
.gallery {
    columns: 4;
    /*段組みの数*/
    padding: 0 15px;
    /*ギャラリー左右に余白をつける*/
    margin: 0;
}

.gallery li {
    margin-bottom: 20px;
    /*各画像下に余白をつける*/
    list-style: none;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width: 300px;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery {
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        columns: 2;
    }
}

/*画像を出現させるアニメーションCSS*/

.flipLeft {
    animation-name: flipLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

.work-list-websites {
    display: flex;
    margin: 0 auto;
    gap: 32px;
    height: 160px;
}



/* SKILL */

.skill-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-left: 115px;
}

.skill-items {
    /* border:1px solid blue; */
    width: 300px;
    height: 180px;
    text-align: center;
}

.skill-img {
    width: 60px;
    margin: auto;
}

.skill-body {
    flex: 1;
}

.skill-item-img {
    width: 60px;
}

.skill-name {
    margin-bottom: 10px;
}

.skill-text {
    font-size: 14px;
}

/* === ABOUT ME === */

/* 大コンテナ */
.profile-container {
    display: flex;
    margin: 16px auto;
}

/* コンテナ①（イラストとSNSリンク） */

.profile-img-and-sns {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.profile-img-and-sns img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 5%;
    object-fit: cover;
}

.sns-list {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin: 16px auto;
    gap: 16px;

}

.sns-list img {
    width: 32px;
    height: 32px;
}

/* コンテナ②（プロフィール本文） */
.profile-body {
    display: flex;
    flex-direction: column;
}

.profile-title p {
    margin: 0;
    font-size: 20px;
    text-decoration: underline;
}

.profile-description {
    width: auto;
}

/* CONTACT */
.form-container {
    margin: 0 auto;
}

.form-label {
    margin: 4px 0;
}

.mark-required {
    color: red;
}

.input-textbox {
    width: 350px;
    margin: 4px 0;
}

.input-textarea {
    width: 350px;
    margin: 4px 0;
}

.radiobutton-container {
    display: flex;
    margin: 4px 0;

}

.radiobutton {
    margin-right: 4px;
}

.spacer {
    height: 100px;
}



hr {
    margin-top: 48px;
}

footer {
    background: #031b3b;
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .first-view img {
        display: none;
    }

    .first-view {
        padding: 0;
    }

    .first-view img {
        display: block;
        width: 100%;
    }

}